body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  padding: 0%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.board_row {
  width: fit-content;
  margin: auto;
}

/* .whole_board {
  background-color: rgb(151, 0, 0);
  background-color: teal;
} */

.snake-cell {
  background-color: teal;
  /* background-image: url("./Images/cherry.png"); */
  height: 45px;
  width: 45px;
  border: solid 2px rgb(124, 240, 8);
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-color: chartreuse; */
}

.cell-design {
  height: 45px;
  width: 45px;
  border: solid 2px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restartButton {
  background-color: yellowgreen;
  margin-top: 12px;
  color: black;
}
